/****
OVERRIDE VALUES VUETIFY
****/

$btn-border-radius: 0;
$btn-font-weight: none;
$btn-text-transform: none;
$snackbar-btn-margin-right: none;
$snackbar-content-font-weight: none;
$snackbar-wrapper-max-width: 1000px;
$snackbar-border-radius: none;
$pagination-border-radius: none;
$dialog-border-radius: 0px;


.v-card .theme--light.v-data-table .v-data-footer{
    justify-content: none !important;
    border-top: none !important;
}

.v-data-footer__icons-after, .v-data-footer__icons-before{
    display: none;
}


.v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td {
    font-size: 0.75rem;
    height: 28px;
}

.v-list--nav .v-list-item, .v-list--nav .v-list-item:before {
    border-radius: 0px;
}

.v-input--selection-controls {
    margin-top: 0px;
    padding: 5px;
}

.v-sheet.v-card {
    border-radius: 0px;
}

.v-card__title {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
    line-height: 2rem;
    word-break: normal;
}

/****
COLORS
****/

$main-color: linear-gradient(185deg, rgba(132,32,104,1) 0%, rgba(82,72,120,1) 36%, rgba(31,112,135,1) 100%);
$main-color-compatible: rgb(132,32,104);
/****
LOGIN
****/
.background-login{
    background: $main-color-compatible;
    background: $main-color;
    height:100%; 
    padding:5%; 
  }

.alert-width{
    width: 1000px;
}
.bg-topbar{
    background: $main-color-compatible;
    background: $main-color;
}

.bg-content{
    background: #f2f2f2;
}
